@if(requestDetails) {
    <div class="d-flex flex-column">
        @if(editMode) {
            <app-date-field data-testid="start-date-input" label="Start date" [control]="startDate"></app-date-field>
            <app-date-field data-testid="end-date-input" label="End date" [control]="endDate" class="mt-1"></app-date-field>
        } @else {
            <app-information-row data-testid="start-date" key="Start" [value]="requestDetails.startDate | date: 'dd-MM-yyyy'"></app-information-row>
            <app-information-row data-testid="end-date" key="End" [value]="requestDetails.endDate | date: 'dd-MM-yyyy'"></app-information-row>
        }
        <app-information-row data-testid="max-days" key="Number of flexible days" [value]="requestDetails.numberOfMaximumFlexibleDays"></app-information-row>
    
        @if(this.form.errors?.['maxDaysInvalid']) {
            <span data-testid="max-days-error" class="message-error">Please enter correct dates, You have only {{requestDetails.numberOfMaximumFlexibleDays}} to leave</span>
        }
    </div>
    
    @if(requestDetails.flexible) {
        <button class="edit-button" (click)="renderDates()">{{editMode ? 'Cancel' : 'Edit'}}</button>
    }
}